/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
img {
  width: 100%;
}

a {
  text-decoration: none;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
ul {
  list-style-type: none;
  display: inline-block;
}

ul > li {
  display: inline-block;
}

nav ul > li > a {
  color: #1865F2;
  font-size: large;
  font-weight: 600;
}

/* .left-end {
  float: left;
  width: 45%;
} */




ul.left-end {
  float: left;
  padding: 0;
}

ul.left-end input {
  margin-left: 2em;
  padding: 0.75em;
  outline: none;
  border: none;
  border-radius: 0.2em;
  background-color: #F0F1F2;
}

.left-end input::placeholder {
  color: #1865F2;
  font-weight: 600;
}

ul.left-end > li{
  margin: 0;
}

ul.right-end {
  float: right;
  margin-top: 1.5em;
}

ul.right-end > li {
  margin-left: 2em;
}


.img-container {
  display: inline-block;
  position: relative;
  left: 25%;
  transform: translateX(-50%);
  padding: 1.2em 0;
}


.image-section {
  width: 50%;
  float: left;
}


.main-content {
  width: 50%;
  float: left;
  margin-top: 4.5em;
}

.main-content > h1 {
  font-size: 3.5em;
  width: 80%;
}

.main-content > p {
  font-size: 1.2em;
  line-height: 1.8em;
}

.main-content > h1 {
  margin-left: 0.7em;
}

.main-content > p {
  margin-left: 2.3em;
}

.main-content a {
  float: left;
  text-align: center;
}

.main-content ul{
  margin-left: 0.3em;
}

.main-content ul > li + li {
  margin-left: 0.2em;
}


.primary-link {
  background-color: #1865F2;
  color: white;
  padding: 0.75em 1.2em;
  font-weight: bold;
  border-radius: 0.3em;
}

